.searchBar>span {
  display: flex;
  user-select: none;
  text-align: center;
}

header {
  transition: background-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

header>svg {
  padding: 5px;
  background-color: white;
}

.dark header>svg {
  background-color: black;
}

header>* {
  margin: 0px 20px;
}

.searchBar button {
  margin: 0px;
}

.searchBar>*:focus {
  box-shadow: none;
}

.searchBar input {
  border: 1px solid #bbb;
  margin-top: 10px;
  background-color: none;
  width: 80%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 25px;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.searchResult {
  box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.15);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 25px;
}

.menuOpener {
  width: 50px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100vw;
  }

  header>button:first-of-type {
    background-color: #232323;
    color: white;
  }
}