.searchBar > span {
  display: flex;
  user-select: none;
  text-align: center;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.menuOpener {
  width: 50px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  header > button:first-of-type {
    background-color: #232323;
    color: white;
  }
}
