main {
    top: 80px;
    width: 900px;
    height: 810px;
    position: absolute;
    left: 0px;
}

main > div.days {
    width: 900px;
}

main > div.days > span {
    display: inline-block;
    width: 150px;
    text-align: center;
}

main > div:last-of-type {
    display: flex;
}
