main {
    width: 900px;
    height: 810px;
    padding-bottom: 80px;
}

main>div.days {
    width: 900px;
}

main>div.days>span {
    display: inline-block;
    width: 150px;
    text-align: center;
}

main>div:last-of-type {
    display: flex;
}

@media screen and (max-width: 900px) {
    main {
        position: absolute;
        left: 0px;
        top: 0px;
    }
}