.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transition: all 0.25s;
  border-radius: 25px;
  transition: all 0.25s;
}

.menu > div.expanded {
  z-index: 1;
  height: 400px;
}

.dark .menu > div {
  background-color: #232323;
}

.hidden {
  display: none;
}
