.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-200px);
    transform: scale(0.9);
    transition: all 400ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transform: translateY(-200px);
    transform: scale(0.9)
}