.searchBar {
    display: flex;
    padding: 0px 0px 0px 30px;
    box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.3);
    border-radius: 30px;
    transition: box-shadow 0.25s;
    align-items: flex-start;
    transition: padding 0.25s;
    background-color: white;
}

.searchBar input:focus {
    outline: none;
}

.dark .searchBar button {
    background-color: #232323;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
}

.dark header {
    background-color: #121212;
}

header>* {
    margin: 0px 20px;
}

.searchBar button {
    margin: 0px;
}

.searchBar>*:focus {
    box-shadow: none;
}

.searchBar:focus-within {
    box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.8);
    padding: 10px 10px 10px 40px;
}

.searchBar input {
    border: none;
    margin-top: 10px;
    background-color: none;
    width: 33vw;
}