body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body:has(.dark) {
  background-color: #121212;
  color: white;
}

.html2canvas-container {
  width: 1080px !important;
  height: 1920px !important;
}
